/vendor
/node_modules
/.idea
/.vscode
/.env
*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/watched/
